/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 13px;
    line-height: 22px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

canvas {
    vertical-align: middle;
}


/* ==========================================================================
   Chart related styles
   ========================================================================== */

.main {
    padding: 12px;
}

.tgc-chart__console {
    margin: 48px 24px 0;
    border: 1px rgba(0, 0, 0, .12) solid;
    border-radius: 4px;
    padding: 24px;
}

.tgc-chart {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    user-select: none;
}

.tgc-chart__title {
    padding: 4px 4px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
}

.tgc-lines {
    position: relative;
    flex: 1;
    /* outline: 1px rgba(0, 0, 0, .12) solid; */
}

.tgc-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(0);
    transition: opacity .2s linear, transform .33s linear;
}

.tgc-line:first-child {
    position: relative;
}

.tgc-line_hidden {
    opacity: 0;
    transform: translateY(-100%);
}

.tgc-brush {
    display: flex;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin-top: 12px;
}

.tgc-viewport {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.tgc-brush__lines {
    position: relative;
    flex: 1;
}

.tgc-brush__line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tgc-brush__window {
    box-sizing: border-box;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px rgba(100, 100, 200, .3) solid;
    border-left-width: 5px;
    border-right-width: 5px;
    box-shadow: 0 0 0 3000px rgba(100, 100, 140, .08);
    transform: translate(0, 0);
    cursor: grab;
}


.tgc-brush__handle {
    width: 15px;
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
}

.tgc-brush__handle-left {
    background-color: rgba(200, 0, 0, .005);
    transform: translateX(-10px);
    left: 0;
}

.tgc-brush__handle-right {
    background-color: rgba(0, 200, 0, .005);
    transform: translateX(10px);
    right: 0;
}

.tgc-monitor {
    display: flex;
    justify-content: space-between;
}

.tgc-y {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.tgc-y__num {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px #eee solid;
    opacity: 1;
    transition: transform .33s linear, opacity .33s ease-in-out;
    color: #c4c4c4;
}

.tgc-y__num-up, .tgc-y__num-down {
    opacity: 0;
}

.tgc-legend {
    display: flex;
    margin-top: 12px;
}

.tgc-legend__item {
    display: flex;
    height: 38px;
    border: 1px #ccc solid;
    border-radius: 19px;
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 8px;
}

.tgc-legend__icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tgc-legend__icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
}

.tgc-legend__item[data-visible="true"] .tgc-legend__icon:after {
    background-color: transparent;
}

.tgc-legend__icon > svg {
    fill: white;
}

.tgc-legend__name {
    font-size: 15px;
    line-height: 24px;
    padding: 0 10px;
}

.tgc-x {
    position: relative;
    overflow: hidden;
    height: 20px;
}

.tgc-x__wrapper {
    transition: transform .12s linear;
}

.tgc-x__label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: transform .1s linear, opacity 1s linear;
}
