/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 13px;
    line-height: 22px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
    vertical-align: middle;
}

/* ==========================================================================
   Chart related styles
   ========================================================================== */

.dark {
    background-color: #242F3E;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.chart {
    width: 460px;
    height: 380px;
    padding: 24px;
}

.tgc-chart {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    user-select: none;
}

.tgc-chart__title {
    padding: 4px 4px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
}

.dark .tgc-chart__title {
    color: white;
}

.tgc-lines {
    position: relative;
    flex: 1;
    /* outline: 1px rgba(0, 0, 0, .12) solid; */
}

.tgc-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(0);
    transition: opacity .2s linear, transform .33s linear;
}

.tgc-line:first-child {
    position: relative;
}

.tgc-line_hidden {
    opacity: 0;
    transform: translateY(-100%);
}

.tgc-brush {
    display: flex;
    position: relative;
    height: 50px;
    overflow: hidden;
    margin-top: 12px;
}

.tgc-viewport {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.tgc-brush__lines {
    position: relative;
    flex: 1;
}

.tgc-brush__line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tgc-brush__window {
    box-sizing: border-box;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px rgba(100, 100, 200, .3) solid;
    border-left-width: 5px;
    border-right-width: 5px;
    box-shadow: 0 0 0 3000px rgba(100, 100, 140, .08);
    transform: translate(0, 0);
    cursor: grab;
}

.dark .tgc-brush__window {
    box-shadow: 0 0 0 3000px rgba(50, 50, 70, .4);
}

.tgc-brush__handle {
    width: 15px;
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
}

.tgc-brush__handle-left {
    transform: translateX(-10px);
    left: 0;
}

.tgc-brush__handle-right {
    transform: translateX(10px);
    right: 0;
}

.tgc-monitor {
    display: flex;
    justify-content: space-between;
}

.tgc-y {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
}

.tgc-y__num {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px #eee solid;
    opacity: 1;
    transition: transform .33s linear, opacity .33s ease-in-out;
    color: rgba(0, 0, 0, .54);
}

.dark .tgc-y__num {
    border-bottom: 1px rgba(255, 255, 255, .18) solid;
    color: rgba(255, 255, 255, .25);
}

.tgc-y__num-up, .tgc-y__num-down {
    opacity: 0;
}

.tgc-legend {
    display: flex;
    margin-top: 12px;
}

.tgc-legend__item {
    display: flex;
    height: 38px;
    border: 1px #ccc solid;
    border-radius: 19px;
    padding: 6px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 8px;
}

.dark .tgc-legend__item {
    border-color: rgba(255, 255, 255, .18);
}

.tgc-legend__icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tgc-legend__icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: white;
}

.dark .tgc-legend__icon:after {
    background-color: #242F3E;
}

.tgc-legend__item[data-visible="true"] .tgc-legend__icon:after {
    background-color: transparent;
}

.tgc-legend__icon > svg {
    fill: white;
}

.tgc-legend__name {
    font-size: 15px;
    line-height: 24px;
    padding: 0 10px;
}

.dark .tgc-legend__name {
    color: white;
}

.tgc-x {
    position: relative;
    overflow: hidden;
    height: 20px;
}

.tgc-x__wrapper {
    transition: transform .05s linear;
}

.tgc-x__label {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: transform .05s linear, opacity .5s linear;
}

.dark .tgc-x__label {
    color: rgba(255, 255, 255, .25);
}

.tgc-cursor {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px #ccc solid;
    transition: transform .12s linear, opacity .12s linear;
    z-index: -2;
    opacity: 0;
}

.dark .tgc-cursor {
    border-color: rgba(255, 255, 255, .18);
}

.tgc-popover {
    position: absolute;
    top: 24px;
    left: 0;
    /* width: 150px; */
    /* height: 90px; */
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .18);

    display: flex;
    flex-direction: column;

    opacity: 0;

    transition: transform .12s linear, opacity .12s linear;
}

.dark .tgc-popover {
    background-color: #253241;
}

.tgc-popover__date {
    padding: 4px 12px;
    font-size: 15px;
}

.dark .tgc-popover__date {
    color: white;
}

.tgc-popover__values {
    display: flex;
    padding: 0 12px 4px;
}

.tgc-popover__value {
    
}

.tgc-popover__value + .tgc-popover__value {
    margin-left: 12px;
}   

.tgc-popover__number {
    font-size: 18px;
    font-weight: bold;
}

.tgc-popover__name {
    font-size: 13px;
    
}

.switch-theme {
    padding: 12px;
    border: 1px rgba(125, 125, 125, .5) solid;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.dark .switch-theme {
    color: white;
}